body{
    text-align: center;
    justify-content: center;
    align-items: center;
}

input{
    height: 50px;
    width: 250px;
    font-family: Arial;
    font-weight: 500;
    font-size: 1em;
    background-color: lightblue;
}