*{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    font-family: Arial;
    /* Disable text selection */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version currently supported by Chrome and Opera */
}

h1, h2, h3, h4, h5, h6{
    cursor: default;
}

img{
    max-width: 120px;
    max-height: 120px;
    vertical-align: middle;
}

#pong-head-text{
    font-size: 6em;
    color: white;
    font-weight: bold;
}

#choose-game-mode{
    position: absolute;
    background: linear-gradient(135deg, #f10505, #2100f9);;
    height:100%;
    width:100%;
}

.mode-buttons{
    margin-top: 50px;
    height: 120px;
    width: 300px;
    border: 5px black solid;
    color: white;
    font-size: 2em;
    background-color: #dcb8ff;
    cursor: pointer;
}

#choose-difficulty {
    display: none;
}

.difficulty-button{
    margin-top: 10px;
    height: 120px;
    width: 300px;
    border: 5px black solid;
    color: white;
    font-size: 2em;
    background-color: #dcb8ff;
    cursor: pointer;
}
#Easy{
    margin-top: 40px;
    background-color: lightgreen;
}
#Medium{
    background-color:orange;
}
#Hard{
    background-color: rgb(213, 0, 0);
}
#Insane{
    background-color: rgb(88, 0, 0);
}
#Impossible{
    background-color: black;
}

#campain-menu{
    display: none;
}

#menu-panel{
    position: absolute;
    height: 600px;
    width: 900px;
    left: 50%; 
    transform: translateX(-50%); 
    margin-top: 75px;
    background: linear-gradient(135deg, #ff00e1, #00f7ef);
    border-radius: 10%;
    border: white 5px solid;
    display: flex;
}

.level{
    margin-top:70px;
    margin-bottom:70px;
    margin-left: 20px;
    margin-right: 10px;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    background: linear-gradient(135deg, #ff0000, #5d0202);
    border: white 5px solid;
    cursor: pointer;
} 
.level h1 {
    font-size: 6em;
    padding: 35px;
    color: white;
}

#level-specs{
    position: absolute;
    left: 50%; 
    transform: translateX(-50%); 
    margin-top: 40px;
    width: 600px;
    height: 500px;
    border-radius: 20%;
    background: linear-gradient(135deg, #8A2BE2, #FF69B4);
    border: 5px white solid;
    display: none;
} #level-text{
    position: absolute;
    color: white;
    font-size: 5em;
    left: 50%; 
    transform: translateX(-50%); 
    top: 4%;
} #start-level{
    position: absolute;
    color: white;
    background: rgb(62, 182, 62);
    height: 100px;
    width: 250px;
    font-size: 4em;
    left: 72%; 
    transform: translateX(-50%); 
    border: 3px white solid;
    border-radius: 20%;
    bottom: 5%;
} #difficulty-show {
    position: absolute;
    color: white;
    background: lightgreen;
    height: 100px;
    width: 250px;
    font-size: 4em;
    left: 27%; 
    transform: translateX(-50%); 
    border: 3px white solid;
    border-radius: 20%;
    bottom: 5%;
} #level-descr{
    position: absolute;
    width: 550px;
    font-size: 1.4em;
    color: white;
    left: 50%; 
    transform: translateX(-50%); 
    top: 35%;
}

#sandbox-menu{
    display: none;
}

#sandbox-panel{
    position: absolute;
    height: 600px;
    width: 1000px;
    left: 50%; 
    transform: translateX(-50%); 
    margin-top: 75px;
    background: linear-gradient(135deg, #ff00e1, #00f7ef);
    border-radius: 10%;
    border: white 5px solid;
} #sandbox-panel-header {
    color: white;
    font-size: 3em;
    margin-top: 10px;
} .option{
    position: inherit;
} 
#starting-ball-speed{
    border: white 3px solid;
    border-radius: 15%;
    padding: 10px;
    top: 0%;
    left: 15%; 
    transform: translateX(-50%); 
    margin-top: 40px;
}#bot-color{
    top: 23%;
    left: 15%; 
    transform: translateX(-50%); 
    margin-top: 40px;
}#player-color{
    top: 33%;
    left: 15%; 
    transform: translateX(-50%); 
    margin-top: 40px;
} #player-paddle-size{
    left: 15%; 
    transform: translateX(-50%); 
    margin-top: 250px;
} #player-paddle-size h2{
    color: white;
    font-size: 1em;
    margin-top: 20px;
} #opponent-paddle-size{
    width: 240px;
    left: 82%; 
    transform: translateX(-50%); 
    margin-top: 250px;
} #opponent-paddle-size h2{
    color: white;
    font-size: 1em;
    margin-top: 20px;
} #mlg-mode{
    left: 30%; 
    transform: translateX(-50%); 
    margin-top: 400px;
} #mirror-mode{
    left: 36%; 
    transform: translateX(-50%); 
    margin-top: 130px;
}#ball-size{
    border: white 3px solid;
    border-radius: 15%;
    left: 35%; 
    transform: translateX(-50%); 
    margin-top: 3px;
} #opponent-speed{
    padding: 5px;
    border: white 3px solid;
    border-radius: 15%;
    left: 36%; 
    transform: translateX(-50%); 
    margin-top: 240px;
} #player-speed{
    padding: 5px;
    border: white 3px solid;
    border-radius: 15%;
    left: 55%; 
    transform: translateX(-50%); 
    margin-top: 3px;
} #ball-color{
    left: 56%; 
    transform: translateX(-50%); 
    margin-top: 330px;
} #text-color {
    left: 56%; 
    transform: translateX(-50%); 
    margin-top: 150px;
} #board-color {
    left: 56%; 
    transform: translateX(-50%); 
    margin-top: 240px;
}

#choose-pvp-pvc{
    position: inherit;
    left: 73%; 
    transform: translateX(-50%); 
} #custom-pvc{
    position: inherit;
    left: 80%; 
    background-color: lightgreen;
} .pvp-pvc{
    border: 3px white solid;
    height: 200px;
    width: 140px;
    margin-left: 40px;
    background-color: red;
    font-weight: 900;
    font-size: 3em;
    cursor: pointer;
}

.checkbox{
    cursor: pointer;
}
.option-header{
    color: white;
    font-size: 1.4em;
}
.option-slider{
    height: 50px;
    width: 150px;
    cursor: pointer;
}
.slider-value{
    font-size: 1.3em;
    color: white;
    font-weight: 900;
}

#mlg-toggle, #mirror-toggle{
    height: 40px;
    width: 40px;
    margin-top: 20px;
}

#bots{
    margin-top: 20px;
}

#set-to-default{
    left: 68%; 
    transform: translateX(-50%); 
    margin-top: 403px;
}
#default-button{
    border-radius: 25%;
    height: 95px;
    width: 100px;
    color: white;
    font-size: 1em;
    font-weight: bold;
    background-color: gray;
    cursor: pointer;
}

#start-custom-game{
    left: 50%; 
    transform: translateX(-50%); 
    margin-top: 400px;
}

#start-custom-button{
    border-radius: 15%;
    height: 100px;
    width: 250px;
    color: white;
    font-size: 4em;
    background-color: lightgreen;
    cursor: pointer;
}

#close{
    height: 80px;
    width: 80px;
    background-color: red;
    margin-left: 490px;
    margin-top: 20px;
    border-radius: 50%;
    border: 3px white solid;
    cursor: pointer;
} #close h1 {
    font-size: 3.5em;
    color: white;
    padding: 9px;
}

.back-button{
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 10px;
    margin-left: 10px;
    height: 80px;
    width: 120px;
    border: 3px black solid;
    background-color: rgba(113, 105, 230, 0.577);
    color: white;
    font-size: 1.5em;
    display: none;
    cursor: pointer;
}

#close-game-button{
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 10px;
    margin-left: 10px;
    height: 80px;
    width: 120px;
    border: 3px black solid;
    background-color: rgba(113, 105, 230, 0.577);
    color: white;
    font-size: 1.5em;
    display: none;
    cursor: pointer;
}   

#board{
    display: none;
    position: absolute;
    margin-top: 20px;
    left: 50%; 
    transform: translateX(-50%); 
}

#result{
    color: white;
    margin-top: 50px;
}
#created-by-text{
    position: absolute;
    bottom: 20px;
    left: 50%; 
    transform: translateX(-50%); 
    font-size: 1.5em;
    color: white;
    font-weight: bold;
}
#credits-image{
    margin-left: 10px;
    width: 35px;
    height: 35px;
}